{# Debug output #}
<!-- Template version: v2 -->
<!-- Data available: {{ data | dump }} -->

<div class="govuk-form-group" data-option-list>
  <h2 class="govuk-heading-m">Options</h2>
  
  <p class="govuk-body">Add an option or import from a list</p>

  <div class="govuk-button-group govuk-!-margin-bottom-6">
    <a href="/option-editor/{{ params.type }}?questionId={{ params.id }}&pageId={{ params.pageId }}&returnUrl=/question-editor/{{ params.type }}/{{ params.id }}%3FpageId={{ params.pageId }}" 
       class="govuk-button govuk-button--secondary" 
       data-module="govuk-button"
       role="button">
      Add option
    </a>
  </div>
    
  <div class="govuk-form-group">
    <label class="govuk-label" for="import-list">
      Import from list
    </label>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <select class="govuk-select" id="import-list" name="import-list" data-lists>
          <option value="">Select a list</option>
        </select>
      </div>
      <div class="govuk-grid-column-one-third">
        <button type="button" class="govuk-button govuk-button--secondary" data-import-list>
          Import
        </button>
      </div>
    </div>
  </div>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">List of options for this question</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Option text</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {# Options will be rendered here by JavaScript #}
    </tbody>
  </table>
</div>

<!-- Template for option rows -->
<template id="option-row-template">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <span class="govuk-body"></span>
    </td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
      <div class="govuk-button-group">
        <button type="button" class="govuk-button govuk-button--secondary govuk-button--small" data-move-up>
          ↑<span class="govuk-visually-hidden">Move up</span>
        </button>
        <button type="button" class="govuk-button govuk-button--secondary govuk-button--small" data-move-down>
          ↓<span class="govuk-visually-hidden">Move down</span>
        </button>
        <button type="button" class="govuk-button govuk-button--warning govuk-button--small" data-delete>
          ×<span class="govuk-visually-hidden">Delete</span>
        </button>
      </div>
    </td>
  </tr>
</template>
