{# app/views/includes/_question-preview.html #}
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
	<label class="govuk-label govuk-label--l" for="preview-field">
	  {{ data.title or "Enter your question" }}
	</label>
  </h1>

  {% if data.hint %}
	<div id="preview-hint" class="govuk-hint">
	  {{ data.hint }}
	</div>
  {% else %}
    <div id="preview-hint" class="govuk-hint">
      Add hint text to help users answer this question
    </div>
  {% endif %}

  {% if data.fieldType == 'text' %}
	<input class="govuk-input" id="preview-field" name="preview-answer" type="text"
		   placeholder="Text input field"
		   {% if not data.title %}disabled{% endif %}
		   aria-describedby="preview-hint">

  {% elif data.fieldType == 'textarea' %}
    <div class="govuk-form-group">
      <textarea class="govuk-textarea" id="preview-field" name="preview-answer"
                rows="5" {% if not data.title %}disabled{% endif %}
                placeholder="Long answer text field"
                {% if data.hint %}aria-describedby="preview-hint"{% endif %}></textarea>
    </div>

  {% elif data.fieldType == 'email' %}
    <input class="govuk-input" id="preview-field" name="preview-answer" type="email"
           placeholder="name@example.com"
           spellcheck="false"
           {% if not data.title %}disabled{% endif %}
           aria-describedby="preview-hint">

  {% elif data.fieldType == 'tel' %}
    <input class="govuk-input govuk-input--width-10" id="preview-field" name="preview-answer" type="tel"
           placeholder="07700 900000"
           autocomplete="tel"
           {% if not data.title %}disabled{% endif %}
           aria-describedby="preview-hint">

  {% elif data.fieldType == 'number' %}
    <input class="govuk-input govuk-input--width-5" id="preview-field" name="preview-answer" type="number"
           placeholder="0"
           pattern="[0-9]*"
           inputmode="numeric"
           {% if not data.title %}disabled{% endif %}
           aria-describedby="preview-hint">

  {% elif data.fieldType == 'radio' %}
	<div class="govuk-radios" data-module="govuk-radios">
	  {% if data.options and data.options.length > 0 %}
		{% for option in data.options %}
		  <div class="govuk-radios__item">
			<input class="govuk-radios__input" 
				   id="preview-answer-{{ loop.index }}" 
				   name="preview-answer" 
				   type="radio" 
				   value="{{ option.value }}"
				   {% if option.hint %}aria-describedby="preview-hint-{{ loop.index }}"{% endif %}
				   {% if loop.first %}aria-describedby="preview-hint"{% endif %}>
			<label class="govuk-label govuk-radios__label" for="preview-answer-{{ loop.index }}">
			  {{ option.text }}
			</label>
			{% if option.hint %}
			  <div id="preview-hint-{{ loop.index }}" class="govuk-hint govuk-radios__hint">
				{{ option.hint }}
			  </div>
			{% endif %}
		  </div>
		{% endfor %}
	  {% else %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preview-answer-empty" name="preview-answer" type="radio" disabled>
        <label class="govuk-label govuk-radios__label" for="preview-answer-empty">
          Add options for users to choose from
        </label>
      </div>
	  {% endif %}
	</div>

  {% elif data.fieldType == 'checkbox' %}
	<div class="govuk-checkboxes" data-module="govuk-checkboxes">
	  {% if data.options and data.options.length > 0 %}
		{% for option in data.options %}
		  <div class="govuk-checkboxes__item">
			<input class="govuk-checkboxes__input" 
				   id="preview-answer-{{ loop.index }}" 
				   name="preview-answer" 
				   type="checkbox" 
				   value="{{ option.value }}"
				   {% if option.hint %}aria-describedby="preview-hint-{{ loop.index }}"{% endif %}
				   {% if loop.first %}aria-describedby="preview-hint"{% endif %}>
			<label class="govuk-label govuk-checkboxes__label" for="preview-answer-{{ loop.index }}">
			  {{ option.text }}
			</label>
			{% if option.hint %}
			  <div id="preview-hint-{{ loop.index }}" class="govuk-hint govuk-checkboxes__hint">
				{{ option.hint }}
			  </div>
			{% endif %}
		  </div>
		{% endfor %}
	  {% else %}
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="preview-answer-empty" name="preview-answer" type="checkbox" disabled>
        <label class="govuk-label govuk-checkboxes__label" for="preview-answer-empty">
          Add options for users to select
        </label>
      </div>
	  {% endif %}
	</div>

  {% elif data.fieldType == 'select' %}
    <select class="govuk-select" id="preview-field" name="preview-answer"
            {% if not data.title %}disabled{% endif %}
            aria-describedby="preview-hint">
      {% if data.options and data.options.length > 0 %}
        {% for option in data.options %}
          <option value="{{ option.value }}">{{ option.text }}</option>
        {% endfor %}
      {% else %}
        <option value="" disabled selected>Add options to select from</option>
      {% endif %}
    </select>

  {% elif data.fieldType == 'date' %}
    <div class="govuk-date-input" id="preview-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="preview-date-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" 
                 id="preview-date-day" 
                 name="preview-date-day" 
                 type="text" 
                 pattern="[0-9]*" 
                 inputmode="numeric"
                 {% if not data.title %}disabled{% endif %}
                 {% if data.hint %}aria-describedby="preview-hint"{% endif %}>
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="preview-date-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" 
                 id="preview-date-month" 
                 name="preview-date-month" 
                 type="text" 
                 pattern="[0-9]*" 
                 inputmode="numeric"
                 {% if not data.title %}disabled{% endif %}
                 {% if data.hint %}aria-describedby="preview-hint"{% endif %}>
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="preview-date-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" 
                 id="preview-date-year" 
                 name="preview-date-year" 
                 type="text" 
                 pattern="[0-9]*" 
                 inputmode="numeric"
                 {% if not data.title %}disabled{% endif %}
                 {% if data.hint %}aria-describedby="preview-hint"{% endif %}>
        </div>
      </div>
    </div>
  {% endif %}
</div>