{# app/views/field-types.html #}
{% extends "layouts/main.html" %}

{% set pageTitle = "Choose field type - Forms Designer" %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/public/javascripts/field-types.js"></script>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="field-type-form" action="/question-editor/new/text" method="get" data-type-form>
      <input type="hidden" name="pageId" value="{{ data.pageId }}">
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="field-type-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Add a new field
            </h1>
          </legend>
          <div id="field-type-hint" class="govuk-hint">
            Choose what type of field you want to add to your form
          </div>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-text" name="type" type="radio" value="text" aria-describedby="type-text-hint">
              <label class="govuk-label govuk-radios__label" for="type-text">
                Text input
              </label>
              <div id="type-text-hint" class="govuk-hint govuk-radios__hint">
                Single line of text
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-textarea" name="type" type="radio" value="textarea" aria-describedby="type-textarea-hint">
              <label class="govuk-label govuk-radios__label" for="type-textarea">
                Text area
              </label>
              <div id="type-textarea-hint" class="govuk-hint govuk-radios__hint">
                Multiple lines of text
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-email" name="type" type="radio" value="email" aria-describedby="type-email-hint">
              <label class="govuk-label govuk-radios__label" for="type-email">
                Email address
              </label>
              <div id="type-email-hint" class="govuk-hint govuk-radios__hint">
                With email format validation
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-tel" name="type" type="radio" value="tel" aria-describedby="type-tel-hint">
              <label class="govuk-label govuk-radios__label" for="type-tel">
                Telephone number
              </label>
              <div id="type-tel-hint" class="govuk-hint govuk-radios__hint">
                For phone numbers
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-number" name="type" type="radio" value="number" aria-describedby="type-number-hint">
              <label class="govuk-label govuk-radios__label" for="type-number">
                Number
              </label>
              <div id="type-number-hint" class="govuk-hint govuk-radios__hint">
                Numeric input only
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-radio" name="type" type="radio" value="radio" aria-describedby="type-radio-hint">
              <label class="govuk-label govuk-radios__label" for="type-radio">
                Radio buttons
              </label>
              <div id="type-radio-hint" class="govuk-hint govuk-radios__hint">
                Select one from multiple options
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-checkbox" name="type" type="radio" value="checkbox" aria-describedby="type-checkbox-hint">
              <label class="govuk-label govuk-radios__label" for="type-checkbox">
                Checkboxes
              </label>
              <div id="type-checkbox-hint" class="govuk-hint govuk-radios__hint">
                Select multiple options
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-select" name="type" type="radio" value="select" aria-describedby="type-select-hint">
              <label class="govuk-label govuk-radios__label" for="type-select">
                Select
              </label>
              <div id="type-select-hint" class="govuk-hint govuk-radios__hint">
                Dropdown list of options
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-autocomplete" name="type" type="radio" value="autocomplete" aria-describedby="type-autocomplete-hint">
              <label class="govuk-label govuk-radios__label" for="type-autocomplete">
                Autocomplete
              </label>
              <div id="type-autocomplete-hint" class="govuk-hint govuk-radios__hint">
                Searchable select field with keyboard navigation
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-date" name="type" type="radio" value="date" aria-describedby="type-date-hint">
              <label class="govuk-label govuk-radios__label" for="type-date">
                Date input
              </label>
              <div id="type-date-hint" class="govuk-hint govuk-radios__hint">
                Day, month and year fields
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-file" name="type" type="radio" value="file" aria-describedby="type-file-hint">
              <label class="govuk-label govuk-radios__label" for="type-file">
                File upload
              </label>
              <div id="type-file-hint" class="govuk-hint govuk-radios__hint">
                Allow file attachments
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <a href="/page-editor/{{ data.pageId }}" class="govuk-button govuk-button--secondary">
          Back to page
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get pageId from URL query parameter
    const urlParams = new URLSearchParams(window.location.search);
    const pageId = urlParams.get('pageId');
    
    if (pageId) {
      // Update all links to include pageId
      document.querySelectorAll('a[href*="/question-editor/new/"]').forEach(link => {
        const url = new URL(link.href, window.location.origin);
        url.searchParams.set('pageId', pageId);
        link.href = url.toString();
      });
      
      // Update back button
      const backButton = document.querySelector('a[href*="/page-editor/"]');
      if (backButton) {
        backButton.href = `/page-editor/${pageId}`;
      }
    }
  });
</script>
{% endblock %}
