{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block head %}
  {{ super() }}
  <link href="/public/stylesheets/custom.css" rel="stylesheet">
{% endblock %}

{% block header %}
{# Custom header appears on all pages except the homepage #}
  {% if url != '/' %}
    {% include "includes/_header.html" %}
  {% endif %}
{% endblock %}

{% block footer %}
  {% include "includes/_footer.html" %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/public/javascripts/application.js"></script>
  {% block moduleScripts %}{% endblock %}
  {% block pageScripts %}{% endblock %}
{% endblock %}
